@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'EksellDisplaySubset', regular;
    @apply leading-normal tracking-normal;
    background-color: #FEFDEE;
}
@font-face {
    font-family: 'EksellDisplaySubset';
    src: local('EksellDisplaySubset'), url('./fonts/EksellDisplaySubset.woff2') format('woff2');
}