@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    @apply leading-normal tracking-normal;
    /* background-color: #FEFDEE; */
    /* background-image: url(../assets/svg/bg.svg); */
    background-size: cover;
    overflow-x: hidden;
}
@font-face {
    font-family: 'EksellDisplaySubset';
    src: local('EksellDisplaySubset'), url('./fonts/EksellDisplaySubset.woff2') format('woff2');
}
